package templates

templ Page(time string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Inky</title>
			<script src="/static/htmx.min.js"></script>
			<link href="/static/css/tailwind.css" rel="stylesheet"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link
				href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
				rel="stylesheet"
			/>
		</head>
		<body class="h-screen w-screen overflow-hidden">
			<div class="relative h-full w-full">
				<img class="absolute inset-0 h-full w-full object-cover" src="/static/test.jpg"/>
				<p class="text-6xl text-white font-bold mt-2 absolute bottom-4 right-10 z-10" hx-get="/time" hx-trigger="load"></p>
			</div>
		</body>
	</html>
}
